<div class="landing-container">
    <!-- Background image -->
    <img src="assets/farm.jpg" class="bg-img" alt="Farm Background">
  
    <!-- Top-right buttons -->
    <div class="top-right-buttons">
      <a (click)="goToLogin()" class="landing-btn">Login</a>
      <a (click)="goToRegister()" class="landing-btn">Register</a>
    </div>
  
    <!-- Centered title -->
    <div class="centered-text">
  <img src="assets/agrisetu.png" alt="Agriसेतु Logo" class="center-logo">
  <h1 class="brand-title">
    <!-- <span class="english-text">Agri</span><span class="marathi-text">सेतु</span> -->
  </h1>
</div>


    <img src="assets/agrisetu.png" alt="Logo" class="bottom-logo">
  </div>
  
  
