<!-- Selected Crops Sticky Header -->
<p class="page-heading-icon category-badge text-center">
  {{ 'ADD_CROPS' | translate}}
</p>

<div class="sticky-header" *ngIf="selectedCrops.length > 0">
  <div class="selected-crops-wrapper">
    <div class="selected-crop-card" *ngFor="let crop of selectedCrops">
      <img [src]="crop.image" alt="{{ crop.name }}" />
      <span>{{ 'CROPS.' + crop.name | translate }}</span>
      <button (click)="removeCrop(crop)">×</button>
    </div>
  </div>

  <!-- Sticky Buttons Below Selected Crops -->
  <div class="action-buttons">
    <button class="btn skip" (click)="continueWithoutAdding()">Continue Without Adding Crops</button>
    <button class="btn save" (click)="saveAndNext()">Save & Next</button>
  </div>
</div>

<!-- Crop Categories List -->
<div class="category-section" *ngFor="let category of getCategories()">
  <h4 class="category-title text-center">
    <span class="category-badge">{{ 'CATEGORY.' +category | translate }}</span>
  </h4>

  <div class="crop-grid">
    <div
      class="crop-card"
      *ngFor="let crop of getCropsByCategory(category)"
      (click)="toggleCrop(crop)"
      [class.selected]="isSelected(crop)"
    >
      <img [src]="crop.image" alt="{{ crop.name }}" />
     <p>{{ 'CROPS.' + crop.name | translate }}</p>
    </div>
  </div>
</div>
